@{
    ViewData["Title"] = "Labirent";
}

<style>

    body {
        background-color:#171717;
    }

    .film-galeri-img {
        width: 100%;
        height: 120px;
        object-fit: cover;
    }
</style>

<div class="container-fluid my-5 text-white" style="padding-top: 100px !important; padding-left: 5%; padding-right: 5%;">
    <div class="row g-4 p-1 align-items-center">

        <div class="col-lg-4">
            <h1 class="text-uppercase fw-bold mb-1 bebas" style="letter-spacing:3px;">LABİRENT</h1>
            <p class="text-success small fw-bold mb-4 text-uppercase finlandica" style="color: #8fa43b !important;">Labirent'in İçine Bir Bakış</p>

            <p class="text-secondary mb-4 finlandica" style="text-align: justify;">
                Labirent, her gece acımasızca yön değiştiren devasa taş duvarları, ölümcül mekanik engelleri ve gizemli yapısıyla Kayran sakinlerini (Glader'lar) içeride hapseder. Bu amansız esaretten kurtulmanın, özgürlüğe giden çıkış yolunu bulmanın tek yolu; bitmek bilmeyen bir cesaret, kusursuz bir takım ruhu ve yüksek bir zekâ ortaya koymaktır. Her sabah açılan ve her gece kapanan bu devasa kapıların ardında, hayatta kalma mücadelesi veren gençlerin hikayesi gizli.
            </p>

            <div class="mb-4">
                <h6 class="fw-bold mb-1 bebas" style="color: #8fa43b; letter-spacing:3px;">HAREKETLİ DUVARLAR</h6>
                <p class="text-secondary small finlandica" style="text-align: justify;">
                    Labirentin devasa taş duvarları sabit değildir; her gece büyük bir gürültüyle yer değiştirerek yolları sürekli olarak kapatır ve haritayı tamamen sıfırlar. Bu yüzden koşucular her gün yeni bir labirente adım atar.
                </p>
            </div>

            <div class="mb-4">
                <h6 class="fw-bold mb-1 bebas" style="letter-spacing:3px; color: #8fa43b;">GRİVER'LAR (IZDIRAP VERİCİLER)</h6>
                <p class="text-secondary small finlandica" style="text-align: justify;">
                    Labirentin karanlık dehlizlerinde yaşayan, biyomekanik ve yarı robotik dev yaratıklardır. Özellikle geceleri kapılar kapandıktan sonra avlanmaya çıkarlar ve insanları zehirli iğneleriyle sokarak akıl almaz acılara sürüklerler.
                </p>
            </div>

            <div class="mb-4">
                <h6 class="fw-bold mb-1 bebas" style="letter-spacing:3px; color: #8fa43b;">DAR GEÇİTLER VE TUZAKLAR</h6>
                <p class="text-secondary small finlandica" style="text-align: justify;">
                    Labirentin içindeki birçok koridor son derece dar, karanlık ve karmaşıktır. Nereden geleceği belli olmayan mekanik tuzaklar ve aniden çöken zeminler yüzünden, yapılacak en ufak bir yanlış dönüş doğrudan ölümcül sonuçlar doğurabilir.
                </p>
            </div>

            <div class="mb-4">
                <h6 class="fw-bold mb-1 bebas" style="letter-spacing:3px; color: #8fa43b;">ÖLÜM BÖLGELERİ VE DENEYLER</h6>
                <p class="text-secondary small finlandica" style="text-align: justify;">
                    Labirent sadece kaçılması gereken bir yer değil, aynı zamanda WICKED adı verilen gizemli bir örgütün insanlığı kurtarmak adına gençlerin beyin dalgalarını ölçtüğü tehlikeli ve acımasız bir test alanıdır.
                </p>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="row g-3">

                <div class="col-12">
                    <img src="~/images/aaaa.webp" class="img-fluid w-100 rounded border border-0 border-secondary" alt="Labirent Ana">
                </div>

                <div class="col-3">
                    <img src="~/images/tmr-1-4.jpg" class="img-fluid w-100 rounded border border-0 border-secondary film-galeri-img" alt="Labirent 1">
                </div>
                <div class="col-3">
                    <img src="~/images/buyuk-resim.webp" class="img-fluid w-100 rounded border border-0 border-secondary film-galeri-img" alt="Labirent 2">
                </div>
                <div class="col-3">
                    <img src="~/images/kucuk2.jpg" class="img-fluid w-100 rounded border border-0 border-secondary film-galeri-img" alt="Labirent 3">
                </div>
                <div class="col-3">
                    <img src="~/images/kucuk3.webp" class="img-fluid w-100 rounded border border-0 border-secondary film-galeri-img" alt="Labirent 4">
                </div>

            </div>
        </div>

    </div>
</div>